
.clear-ans {
    background-color: #ff3b3b;
    border: none;
    width: 20px;
    text-align: center;
    border-radius: 10px;
    height: 20px;
    position: absolute;
    top: -5px;
    left: 310px;
}
.row {
    position: relative;
}
.row > .color-row > .stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}