.websiteHeader {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 15px;
    font-size: 26px;
    font-weight: bold;
    color: #555;
    text-transform: capitalize;
}
.websiteHeader > .title {
    font-size: 28px;
    font-weight: bold;
    color: #666;
}
.websiteHeader > .replay {
    display: flex;
    width: 100%;
    margin-top: 5px;
    justify-content: space-between;
    font-size: medium;
}
.websiteHeader > .replay > button {
    border: none;
    background-color: #ccc;
}
.websiteHeader > .replay > button:hover {
    background-color: #ddd;
}