.App {
  text-align: center;
  border: 1px solid #666;
  width: 350px;
  height: 90vh;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  vertical-align: middle;
}
